.title {
    color: #d0e6e2bb;
    background: linear-gradient(135deg, #b9b9ae 0%, #92a7aa91 40%);
            color: #2e3131a6; /* Texte gris foncé pour la lisibilité */
                    background-color: rgba(151, 68, 53, 0.075); /* Fond blanc presque opaque pour l'en-tête */

        background-color: rgba(60, 68, 64, 0.534); /* Fond blanc semi-transparent pour les sections de contenu */


}